.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

header {
  display: flex;
  height: 9vh;
  justify-content: flex-start;
  background-color: rgb(255, 198, 198);
  padding-left: 1rem;
}

header a {
  display: flex;
  text-decoration: none;
  font-size: large;
  color: rgb(65, 65, 65);
  font-weight: 700;
  width: max-content;
  align-items: center;
}

header a img {
  width: 5vw;
  height: 7vh;
  margin-right: .4rem;
}

section {
  display: flex;
  height: 40vh;
  margin: 20vh 20vw;
  justify-content: space-evenly;
  align-items: center;
}

section aside {
  margin-right: 2rem;
}

section aside img {
  border-radius: 9%;
  width: 30vw;
  height: 30vh;
}

section article div {
  width: 20vw;
}

section article div .article-text {
  text-align: start;
  text-indent: 1rem;
  line-height: 1.6rem;

}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  font-size: 16px;
  font-family: inherit;
  padding: 0.16em 0.5em;
  background-color: #fff;
  border: 2px solid #8b8a8b;
  border-radius: 4px;
  margin-top: .4rem;
  width: 19vw;
}

label {
  margin-top: 1rem;
}

form input:focus {
  border-color: hsl(245, 100%, 42%);
  box-shadow: 0 0 0 3px hsla(245, 100%, 82%), 0.8;
}

form button {
  margin-top: 1rem;
}

.validation-message {
  color: red;
  font-size: 11px;
  font-weight: 600;
}


.diet {
  border-radius: 13px;
  padding: 2rem;
  background-color: rgb(255, 198, 198, 0.5);
  ;
}

.diet h1 {
  font-weight: 800;
}

section article ul {
  width: 20vw;
  text-align: left;
  list-style: circle;
}


aside p span {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  height: 4vh;
  width: 92%;
  text-align: end;

}

@media screen and (max-width:600px) {

  header a {
    font-size: medium;
  }

  header a img {
    width: 13vw;
    height: 7vh;
    margin-right: .4rem;
  }


  section {
    margin: 10vh 5vw;
    display: block;
    height: 40vh;
    align-items: center;
  }

  section aside {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  section aside img {
    border-radius: 9%;
    width: 80vw;
    height: 25vh;
  }


  section article .info {
    display: contents;
    justify-content: center;
    min-width: 80vw;

  }

  form {
    width: 73vw;
    margin: 2rem auto;
  }

  input {
    padding: 0.16em 0.4em;
    width: auto;
  }

  .result {
    display: block;
  }

  .diet {
    border-radius: 13px;
    padding: 2rem;
    background-color: rgb(255, 198, 198, 0.5);
  }

  section article ul {
    width: 50vw;
  }

  footer {
    height: 7vh;
    width: 92%;
    text-align: end;
  }

}